@{
    ViewData["Title"] = "AccesoDenegado";
}


<div class="text-center text-white" style="background-color:darkred">
    <h1>Acceso Denegado</h1>
    <h3>Su usuario no tiene los permisos necesarios</h3>
    
</div>
<input type="button" value="Volver" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'" />